* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 80%;
    margin: 30px auto;
    font-size: 16px;
    text-align: justify;
    font-family: sans-serif;
}

table,th,td {
    border-top: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 10px;

}


caption {
    font-size: 18px;
    font-weight: 600;
    border: 1px solid orange;
    background: rgb(250, 172, 4);
    width: 40%;
    margin:15px auto;
    padding: 8px;
    border-radius: 10px;
    color: white;

}

th {
    background-color: dodgerblue;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    text-align: center;
}

td {
    text-align: left;
    padding-left: 10;
}
