* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 80%;
    margin: 30px auto;
    font-size: 16px;
    text-align: justify;
    font-family: sans-serif;
}

table,th,td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 10px;
    /* text-align: center; */
    

}


caption {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    padding: 20px 0;
}

th {
    background-color: blue;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    text-align: center;
    font-weight: 600;
}

td {
    text-align: center;
    padding-left: 10;
}

button{
    padding: 5px 5px;
    font-weight: 600;
}

tr:nth-child(even){
    background: rgb(250, 246, 246);
}

/* .GRN{
    border: 1px solid green;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 3px;
} */